{% extends "students/base.html" %}
{% block title %}Networking Questions & Topics{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Example Questions and Conversation Topics to Discuss with Industry Professionals While Networking</h2>
  
  <div class="card my-4">
    <div class="card-header bg-primary text-white">
      Tech Industry & Projects Questions / Conversation Starters
    </div>
    <div class="card-body">
      <ul>
        <li>What is your favourite coding language? Why?</li>
        <li>What has been your favourite project? Why?</li>
        <li>What has been your most unusual project?</li>
        <li>Do you prefer Front or Back End? Why?</li>
        <li>Are you learning any new languages at the moment?</li>
        <li>Which languages / technologies do you recommend learning?</li>
        <li>Do you keep up with any tech blogs / magazines?</li>
        <li>What's your go-to place for learning new technologies?</li>
        <li>Can you recommend any books or podcasts?</li>
        <li>Would you be open to reviewing my most recent projects? I'd really appreciate some honest feedback.</li>
      </ul>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-header bg-primary text-white">
      Job Specific / Career Change Questions
    </div>
    <div class="card-body">
      <ul>
        <li>What is it like working in the industry?</li>
        <li>Can you tell me a bit about your job role? What are the main technologies you use?</li>
        <li>What do you like about your role/place of work?</li>
        <li>What are your main responsibilities?</li>
        <li>How does your team support you?</li>
        <li>Why have you changed jobs previously? (if applicable)</li>
        <li>Can you recommend any good recruiters or job websites?</li>
        <li>Did you do anything specifically to build your experience before your first job?</li>
        <li>What advice would you give to someone looking for their first tech job?</li>
        <li>How does your role differ from your expectations before you gained the role?</li>
        <li>In your experience, what do employers look for in a Junior candidate?</li>
        <li>What makes a candidate stand out? Are there any certifications or particular achievements that could help me to stand out?</li>
        <li>What made you stand out for your role?</li>
        <li>What made you apply for your role?</li>
        <li>What should I expect from my first job in terms of training?</li>
        <li>Is there any preparation you recommend for a first job in tech?</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}