{% extends "students/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
        <div class="card shadow mt-5 custom-form-card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Register</h4>
            </div>
            <div class="card-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success w-100">Register</button>
                </form>
                <div class="mt-3 text-center">
                    <span>Already have an account?</span>
                    <a href="{% url 'login' %}">Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}